
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --cor1: #D9D7D791;
    --cor2: #E4EAF291;
    --cor3: #594A3C;
    --cor4: #8C7F7791;
    --cor5: #401A0D;

    --font: Arial, Verdana, Helvetica, sans-serif;
    --f-dest: 'Tourney', cursive;
}
body{
    background-color: var(--cor4);
    font-family: var(--font);
}
header{
    background-image: linear-gradient(to bottom, #D9D7D791, #401A0D);
    height: 120px;
    text-align: center;
    padding-top: 15px;
}
header > h1{
    color: white;
    font-family: var(--f-dest);
    text-align: center;
}
header > p{
    color: white;
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px;
    width: 400px;
}
nav#menu{
    background-color: #401A0D;
}
nav a{
    text-decoration: none;
    color: var(--cor2);
    padding-left: 5px;
    margin-left: 50px;
    width: 100%;
}
main{
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    margin-bottom: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: justify;
}
main p{
    margin: 20px;
    text-indent: 30px;
}
main img{
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 5px;
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}
nav{
    margin: 0px;
    background-color: var(--cor4);
    padding: 5px;
}
iframe{
    max-width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}
main h1{
    color: var(--cor3);
    font-family: var(--f-dest);
    padding-left: 20px;
    padding-top: 20px;
    font-size: 30px;
    text-indent: 15px;
}
main h2{
    font-family: var(--f-dest);
    color: var(--cor5);
    margin: 20px;
    background-image: linear-gradient(to left, #e4eaf205, #8C7F7791);
    text-indent: 15px;
}
aside{
    background-color: var(--cor1);
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin: 10px;
}
aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-indent: 30px;
}
aside ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    display: block;
    padding-left: 60px;
}
aside li{
    list-style-type: "\2714";
}
p#rodape{
    padding-bottom: 20px;
}
footer{
    background-color: var(--cor5);
    color: white;
    margin: auto;
    text-align: center;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: var(--cor2);
}