body{
    background-color: #dff1fc;
    max-width: 900px;
    margin: auto;
}
.navbar{
    background-color: #d7effd;
    background-image: linear-gradient(to bottom, #f8fbfc, #dff1fc);
}
.quemsou{
    background-color: #e7f4fc;
    border-radius: 30px;
    margin-bottom: 18px;
}
.margin{
    padding: 10px;
}
.paragrafo{
    margin-top: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar{
    margin: auto;
}