.btn{
  background-color: #222;
  color: #FFF;
  border-radius: 20px;
  transition: 0.4s;
  align-self: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  padding: 10px;
  size: 20px;
  min-width: 120px;
  max-height: 40px;
}

.btn:hover{
  color:#222;
  background-color: #ffbb33;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}
