body{
    font-family: Arial, Helvetica, sans-serif;
    /*
    Medidas absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh

    para font-size é recomendado "px" e "em" apenas
    */

    /*
    ordem de precedência para estilo em fontes.
    shorthand font
    font-style -> font-weight -> font-size -> font-family
    ex: italic bolder 3em 'Work Sans', sans-serif;
    */
    font-size: 16px;
}