.project_card{
  padding: 1em;
  border: 2px solid #7a7a7a;
  width: 25%;
  margin: 2.5%;
  border-radius: 20px;
}
.project_card h4{
  background-color: #222;
  color:#ffbb33;
  padding: .4em;
  margin-bottom: 1.3em;
  font-size: 1.3em;
  border-radius: 20px;
  justify-content: center;
  display: flex;
}
.project_card p{
  color: #7a7a7a;
  margin-bottom: 1em;
}
.project_card p span{
  font-weight: bold;
}
.category_text{
  display: flex;
  align-items: center;
}
.category_text span{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin-right: 5px;
}

.category_text .Infra{
  background-color: #ffaebc;
}

.category_text .Desenvolvimento{
  background-color: #a0e7e5;
}

.category_text .Design{
  background-color: #b4f8c8;
}

.category_text .Planejamento{
  background-color: #fbe7c6;
}

.project_card_actions{
  margin-top: .8em;
  display: flex;
  align-items: center;
}

.project_card_actions a,
.project_card_actions button{
  text-decoration: none;
  background-color: #fff;
  color: #222;
  font-size: 12px;
  padding: .4em 1em;
  cursor: pointer;
  margin-right: 1em;
  border: 1px solid #222;
  transition: 0.4s;
  display: flex;
  border-radius: 10px;
  /* margin-left: -3px; */
  align-items: center;
  flex-direction: row;
}
.project_card_actions svg{
  margin-right: 5px;
  margin-left: -10px;
  height: 15px;
  width: 15px;
}

.project_card_actions a:hover,
.project_card_actions button:hover{
  background: #222;
  color: #ffbb33;
}
.btn{
  background-color: #222;
  color: #FFF;
  padding: .5em 1em;
  border-radius: 20px;
  transition: 0.4s;
  align-content: center;
  max-width: 135px;
  max-height: 40px;
  cursor: pointer;
  justify-content: center;
  border: none;
  margin-left: 10px;
}

.btn:hover{
  color:#222;
  background-color: #ffbb33;
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}